@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(9, 114, 146);
}

li {
  list-style-type: none;
}

/* ********************* NAVBAR ************************* */
header {
  position: absolute;
  width: 100%;
  height: 4vh;
  top: 0;
  left: 0;
  background: #309df7;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: sticky;
}
.burger {
  display: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.menu li a {
  color: aliceblue;
  font-size: 1.2em;
}
.menu li a:hover {
  text-shadow: 3px 3px 10px aliceblue, 0 0 1em aliceblue, 0 0 0.2em green ;
}
.logo a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  float: left;
  color:aliceblue;
}
header div a:hover { 
  background-color: #fcef00; 
}

/* ********************* IMAGE PRINCIPALE ************************* */
#imagePrincipaleVanoise {
  z-index: 125;
  padding-top: 1px;
  /* Adapter chemin de l'image du background suivant le répertoire de stockage de l'hébergeur (GITHUB) */
  background-image: url("images/DSC_1036.JPG") no-repeat fixed 90% 70%;
  background-size: cover;
  height: 2600px;
}
h1 {
  padding-top: 20px;
  padding-left: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aliceblue;
  font-size: 4em;
}
h2 {
  margin-top: 55px;
}
h3 {
  padding-top: 0px;
  padding-left: 25px;
  color: aliceblue;
}
#aFaire {
  color: aliceblue;
  text-shadow: 1px 3px 20px #309df7;
  background-color:aquamarine;
  box-shadow: 10px 10px 20px white;
  border-radius: 5px;
}
#aPreparer {
  color: aliceblue;
  text-shadow: 1px 3px 20px #309df7;
  background-color: cyan; 
  box-shadow: 10px 10px 20px white;
  border-radius: 5px;
}


@media all and (max-width: 500px) {
  header {
    background: none;
  }
  h1 {
    font-size: 3em;
  }
  .burger {
    z-index: 101;
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    color: #309df7;
  }
  .logo {
    z-index: 101;
    position: relative;
  }
  .logo a {
    color: #309df7;
  }
  .ouvrir {
    display: block;
  }
  .burger .fermer {
    display: none;
  }
  .open .ouvrir {
    display: none;
  }
  .open .fermer {
    display: block;
  }
  .menu {
    position :absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(11, 0, 39);
    flex-direction: column ;
    padding: 2.2rem;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu li a {
    font-size: 1.3rem;
  }
  .open .menu {
    transform: translateX(0);
  }
}


/* **************************** LES RANDONNEES ************************************* */
.container {
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px 10px;
	padding: 100px 50px;
}

.container .flexContainer1 {
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px 20px;
	padding: 10px 50px;
  margin : 20px;
  background-color: aquamarine;
  border-radius: 50px;
}
.container .flexContainer1 .miniCard {
  position: relative;
  width: 270px;
  height: 65px;
  background: linear-gradient(#fff, 95%, aquamarine);
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.5);
}
.miniCard > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.miniCard h4 {
  margin: 10px 0 0 10px;
}

.container .flexContainer2 {
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px 50px;
	padding: 10px 50px;
  margin : 20px;
  background-color: cyan;
  border-radius: 50px;
}
.container .flexContainer2 .card {
  position: relative;
  width: 460px;
  height: 350px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.5);
  overflow: hidden;
  cursor: pointer;
}
.container .flexContainer2 .card .largestCard {
  overflow: auto; 
  height: 630px; /* TAILLE spécifique car card au texte le plus long*/
}
.container .flexContainer2 .card p{
  position: relative;
  width: 460px;
} 
.imgBox h4 {
  margin: 10px 0 0 10px;
}
.imgBox img {
  width: 460px;
  height: 350px;
}
.content-card {
  width: 350px;
  height: 300px;
}
/*ANIMATION avec EXPAND*/
.card.expanded .imgBox {
  transform: translateY(0);
}
.card.expanded .imgBox h4{
  transform: translateY(0);
}
.card.expanded .imgBox img{
  transform: translateY(-370px);
  transition: transform 1000ms;
}
.card.expanded .content-card > p{
  transform: translateY(-330px);
  transition: transform 1000ms;
}
.card.expanded .content-card > a{   /* pas encore en fonctionnement : trouver comment faire un lien vers marker sur carte, en JS*/
  transform: translateY(-290px); 
  transition: transform 1000ms;
}


@media all and (max-width: 500px) {
  .container .flexContainer1 .miniCard {
    display: flex;
  }
  .container .flexContainer2 .card {
    position: relative;
    width: 275px;
    height: 455px;
  }
  .container .flexContainer2 .card p{
    position: relative;
    width: 275px;
  } 
  .imgBox img {
    width: 400px;
    height: 440px;
  }
  .card.expanded .imgBox img{
    background-size: cover;
    transform: translateY(-475px);
  }
  .card.expanded .content-card > p{
    transform: translateY(-415px);
    transition: transform 1000ms;
    font-size: 0.9em;
  }
}


/* ************************************** CARTE ****************************** */
#map {
  height: 600px;
}
#sommets {
  color: #309df7;
  background-color: #fcef00; 
  box-shadow: 10px 10px 20px white;
  border-radius: 5px;
  width: 100%;
}
#titreCarte h2 {
  text-align: center;
}
#carteVanoise {
  height: 550px;
  margin: 5px 25px 25px 25px;
}

@media all and (max-width: 500px) {
  #map #titreCarte #sommets {
    justify-content: center;
  }
  #carteVanoise {
    height: 500px;
    width: auto;
    align-items: center;
  }
}

/* ======creation icones perso (divIcon) sur la carte avec leaflet====== */
.div-icon-tresdur {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: black;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-tresdur::after {
  content: 'TD';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
}
/* // to align icon */
.div-icon-tresdur i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.div-icon-dur {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: red;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-dur::after {
  content: 'D';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
}
/* // to align icon */
.div-icon-dur i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.div-icon-moyen {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: orange;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-moyen::after {
  content: 'M';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
}
/* // to align icon */
.div-icon-moyen i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.div-icon-moyenfacile {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: #fcef00;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-moyenfacile::after {
  content: 'MF';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
}
/* // to align icon */
.div-icon-moyenfacile i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.div-icon-facile {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: green;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-facile::after {
  content: 'F';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
}
/* // to align icon */
.div-icon-facile i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
}
.div-icon-tresfacile {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: rgb(111, 247, 111);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-tresfacile::after {
  content: 'TF';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
}
/* // to align icon */
.div-icon-tresfacile i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
}


/* ************************************** CIEL ****************************** */
#cielBlanc {
  width: auto;
  height: 100px;
  background-color: #309df7;
  clip-path: polygon(0% 100%, 15% 60%, 19% 90%, 28% 5%, 36% 15%, 39% 27%, 43% 15%, 48% 42%, 50% 46%, 52% 72%, 58% 34%, 60% 47%, 63% 78%, 67% 73%, 78% 68%, 85% 36%, 86% 38%, 88% 24%, 96% 78%, 100% 100%);
}


/* ************************************** FOOTER ****************************** */
footer {
  z-index:97;
  background-color: #309df7;
  padding: 20px 0 10px 0;
  text-align: center;
}
#ressources {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 200px;
  height: auto;
  background-color: #fcef00;
  border-radius: 20px;
}
footer h2 {
  color: aliceblue;
  text-shadow: 1px 3px 20px aliceblue;
}
footer a {
  font-size: 0.8rem;
  font-weight: bold;
}
footer div a:hover { 
  background-color: #309df7;
  font-size: 1.1em;
  color: #fcef00;
  border-radius: 15px;
  margin-top: 0px;
}
#copyright {
  margin-bottom: 2px;
  padding: 1%;
  width: 70%;
  text-align: left;
  color: aliceblue;
}

/* **************************Bouton retour haut ****************************** */
#back-to-top {
  display: none; 
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background-color: #fcef00;
  color: #007bff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
#back-to-top:hover {
  background-color: #007bff;
  color: #fcef00;
}
html {scroll-behavior: smooth;
}
@media all and (max-width: 500px) {
  #back-to-top {
    bottom: 10px;
    right: 50px;
    width: 30px;
    height: 30px;
  }
}
