@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
h2 {
    z-index: 130; 
    text-align:center;
    padding-top: 30px;
    font-size: 2em;
    color:red;
}
a {
    text-decoration: none;
    color: rgb(9, 114, 146);
}
header a {
  text-decoration: none;
  color:  aliceblue;
}
p {
  text-decoration: none;
  color: rgb(147, 212, 231);
}

/* ********************* NAVBAR ************************* */
header {
  position: absolute;
  width: 100%;
  height: 4vh;
  top: 0;
  left: 0;
  background: transparent;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: sticky;
}
.burger {
  display: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.menu li a {
  color: aliceblue;
}
.menu li a:hover {
  text-shadow: 3px 3px 10px aliceblue, 0 0 1em aliceblue, 0 0 0.2em green ;
}
.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  float: left;
  color:aliceblue;
}
header div a:hover { 
  background-color: #e6411b; 
}

/* ******************************** IMAGE PRINCIPALE **************************** */
#imagePrincipaleAlpes {
  z-index: 125;
  padding-top: 1px;
  background: url(images/DSC-0915.JPG) no-repeat fixed 90% 70%;
  background-size: cover;
  height: 600px;
}
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color:aliceblue;
  font-size: 4em;
  margin-top: 5px;
  text-shadow: 1px 3px 20px #309df7;
}
#premierTrait {
  height: 2px;
  width: 25%;
  margin: -3px auto;
  background-color: aliceblue;
  box-shadow: 1px 3px 2px color black;
}
h3 {
  text-align: center;
  margin-top: 2px;
  color:aliceblue;
  font-size: 1em;
  text-shadow: 1px 3px 2px color black;
}
@media all and (max-width: 500px) {
  header {
    background: none;
  }
  h1 {
    font-size: 3em;
  }
  .burger {
    z-index: 101;
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    color: aliceblue;
  }
  .logo {
    z-index: 101;
    position: relative;
  }
  .ouvrir {
    display: block;
  }
  .burger .fermer {
    display: none;
  }
  .open .ouvrir {
    display: none;
  }
  .open .fermer {
    display: block;
  }
  .menu {
    position :absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42vh;
    background: rgb(11, 0, 39);
    flex-direction: column ;
    padding: 2.2rem;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu li a {
    font-size: 1.3rem;
  }
  .open .menu {
    transform: translateX(0);
  }
}

/* ******************************* PRESENTATION et CARTE *************************************** */
#presentation {
  background: linear-gradient(180deg, rgb(11, 0, 39) 5%, #3c7ddf 2%, aliceblue 6%);
  padding-top: 10px 0 6px 0px;
  height: 600px;
  overflow: hidden;
}
#titreCarte {
  padding: 20% 0 0 0;
  text-align: center;
  position: relative;
  color:aliceblue;
  text-shadow: 1px 3px 20px aliceblue;
}
#carteAlpes {
  z-index: 89;
  display: flex ;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 300px;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 40px;
  border: 1px solid aliceblue;
}
@media all and (max-width: 500px) {
  #titreCarte {
    padding: 30% 0 2% 0;
  }
  #imagePrincipaleAlpes {
    padding-top: 1px;
    height: 630px;
  }
  #carteAlpes {
    position: relative;
    top: 1px;
    height: 370px;
    left: 7%;
    right: 7%;
    width: 86%;
  }
}

/* creation icones perso (divIcon) sur la carte avec leaflet */
.div-icon-tresdur {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: black;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-tresdur::after {
  content: 'TD';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
/* // to align icon */
.div-icon-tresdur i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}
.div-icon-dur {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: red;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-dur::after {
  content: 'D';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
/* // to align icon */
.div-icon-dur i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}
.div-icon-moyen {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: orange;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-moyen::after {
  content: 'M';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
/* // to align icon */
.div-icon-moyen i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}
.div-icon-moyenfacile {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: #fcef00;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-moyenfacile::after {
  content: 'MF';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
/* // to align icon */
.div-icon-moyenfacile i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}
.div-icon-facile {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: green;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-facile::after {
  content: 'F';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
/* // to align icon */
.div-icon-facile i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}
.div-icon-tresfacile {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: rgb(111, 247, 111);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
/* // to draw white circle */
.div-icon-tresfacile::after {
  content: 'TF';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
/* // to align icon */
.div-icon-tresfacile i {
  position: absolute;
  width: 22px;
  font-size: 18px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

/* *************************************** PARCOURS ************************************ */
#parcours {
  height: 580px;
  background-color: rgb(11, 0, 39);
  padding: 15px 2%;
} 
#parcours h2 {
  padding-top: 35px;
  padding-bottom : 20px;
  text-shadow: 3px 3px 10px aliceblue, 0 0 1em aliceblue, 0 0 0.2em green ;
}

@media all and (max-width: 500px) {
  #parcours {
    height: 1220px;
  } 
  #parcours h2 {
    padding: 20% 0 2% 0;
  }
}

/* ========================= G-R-I-D =====================*/
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(400px, auto);
  gap:10px;
}
.grid-item1 {
  z-index:98;
  grid-column: 1;
  grid-row: 1;
  overflow: auto;
  background: #3fc7bc;
  padding: 1em;
  color: rgb(255, 255, 255);
  text-align: start;
  cursor: pointer;
}
.grid-item2 {
  z-index:98;
  grid-column: 2;
  grid-row: 1;
  overflow: auto;
  background: #7ADCB4;
  padding: 1em;
  color: rgb(255, 255, 255);
  text-align: start;
  cursor: pointer;
}
.grid-item3 {
  z-index:98;
  grid-column: 3;
  grid-row: 1;
  overflow: auto;
  background: #00D082;
  padding: 1em;
  color: rgb(255, 255, 255);
  text-align: start;
  cursor: pointer;
}
h4 {
  text-align: center;
  color:aliceblue;
  font-size: 1.2em;
  text-shadow: 1px 3px 10px rgb(11, 0, 39);
}

p {
  font-size: 1.2em;
}

.grid-item1:hover {
  background: rgb(11, 0, 39);
  transition: 0.3s ease-in-out;
}
.grid-item2:hover {
  background: rgb(11, 0, 39);
  transition: 0.3s ease-in-out;
}
.grid-item3:hover {
  background: rgb(11, 0, 39);
  transition: 0.3s ease-in-out;
}

/* =======LISTES DEROULANTES=========*/
div ul {
  padding: 0;
  margin: 0;
    position: relative;
}
div ul li {
  display:block;
  line-height: 20px;
  padding: 10px 5px 0 3px;
  color: #e6411b;
  font-size: 0.8em;
  font-weight: bold;
}
div a {
  display:block;
  padding: 0 2px;	
  margin-top: 7px;
  line-height: 20px;
  text-decoration:none;
  border-radius: 40px;
  font-size: 1.2em;
}
div a:hover { 
  background-color: #fcef00; 
  text-align: center;
  font-weight: bold;
}
/* Hide Dropdowns by Default */
div ul ul {
  display: none;
  position: relative; 
  left : 10px;
  /* the height of the main div */
  top: -10px; 
}
/* Display Dropdowns and sub-Dropdowns on Hover */
div ul li:hover > ul {
  display: inherit;
}
/* Hide Dropdowns by Default */
div ul ul div {
  display: none;
	position: relative; 
}
.drop-details:hover .description {
  display: inherit;
  top: 10;
  left: 5%;
  padding: 0;
  z-index: 200;
}

/* partie TACTILE (on cible le touchstart sur "content" qui correspond à la classe ".dropdown-content") */
@media all and (max-width: 500px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-auto-rows: minmax(100px, 360px);
    gap:10px;
  }
  .grid-item1 {
    background: rgb(11, 0, 39);
    grid-column: 1;
    grid-row: 1;
    background: #3fc7bc;
    overflow: auto;
    padding: 1em;
    text-align: start;
    cursor: pointer;
  }
  .grid-item2 {
    background: rgb(11, 0, 39);
    grid-column: 1;
    grid-row: 2;
    background: #7ADCB4;
    overflow: auto;
    padding: 1em;
    text-align: start;
    cursor: pointer;
  }
  .grid-item3 {
    background: rgb(11, 0, 39);
    grid-column: 1;
    grid-row: 3;
    background: #00D082;
    overflow: auto;
    padding: 1em;
    text-align: start;
    cursor: pointer;
  }
  .menuDropdown {
    display: block;
    background-color: transparent;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    line-height: 20px;
    padding: 0 1px 0 3px;
    font-size: 1.0em;
  }
  .dropdown-content {
    z-index: 135;
    display: none;
    position: relative;
    max-width: 360px;
    border-radius: 6px;
    box-shadow: 0px 6px 10px 0px aliceblue;
  }
  /* sous menu */
  .dropdown-content, .description {
    display: none;
  }
  .dropdown-content.show, .description.show {
    display: block;
  }
  .description p{
    color: aliceblue; 
  }
}


/* ************************************** FOOTER ****************************** */
footer {
  z-index:97;
  background-color: rgb(11, 0, 39);
  padding: 30px 0 10px 0;
  text-align: center;
}
#ressources {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 180px;
  height: auto;
  background-color: #fcef00;
  border-radius: 20px;
}
footer h2 {
  text-shadow: 1px 3px 20px aliceblue;
}
footer a {
  font-size: 0.8rem;
  font-weight: bold;
}
footer div a:hover { 
  background-color: rgb(11, 0, 39);
  color:rgb(147, 212, 231);
  border-radius: 20px;
  margin-top: 0px;
}
#copyright {
  margin-bottom: 2px;
  padding: 1%;
  width: 70%;
  text-align: left;
  color: aliceblue;
}

/* **************************Bouton retour haut ****************************** */
#back-to-top {
  display: none; 
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background-color: #fcef00;
  color: #007bff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
#back-to-top:hover {
  background-color: #007bff;
  color: #fcef00;
}
html {scroll-behavior: smooth;
}
@media all and (max-width: 500px) {
  #back-to-top {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}
